<!-- preload -->
<app-loader></app-loader>
<!-- /preload -->

<!-- #wrapper -->
<div id="wrapper">
  <!-- #page -->
  <div id="page" class="home-1">
    <!-- header -->
    <header
      id="header_main"
      class="header header-fixed style-no-bg style-absolute"
    >
      <div class="header-inner">
        <div class="header-inner-wrap">
          <div id="site-logo">
            <a>
              <img
                id="logo-header"
                src="/assets/images/logo/logo-white.svg"
                alt=""
              />
              <img
                id="logo-header-mobile"
                src="/assets/images/logo/logo.svg"
                alt=""
              />
            </a>
          </div>

          <div class="header-right">
            <div
              data-bs-toggle="modal"
              data-bs-target="#modallogin"
              class="header-user style-white"
            >
              <div class="icon">
                <i class="flaticon-key"></i>
              </div>
            </div>
          </div>
          <a class="mobile-nav-toggler mobile-button" href="#"></a>
        </div>
      </div>

   
    </header>
    <!-- /header -->

    <!-- main-content -->
    <div class="main-content default">
      <!-- slider -->
      <section class="slider home7">
        <div
          class="swiper-container slider-home7 slider-effect-fade arrow-style-1 pagination-style-1"
        >
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="wrap-slider">
                <div class="image">
                  <!-- src="/assets/images/slider/pexels-galerieb-1209978.jpg" -->
                  <img
                    src="/assets/images/slider/quill-175980_1920.png"
                    alt=""
                  />
                </div>
                <div class="slider-item">
                  <div class="cl-container">
                    <div class="row">
                      <div class="col-12">
                        <div class="slider-content">
                          <div class="text fade-item fade-item-1">
                            25 beds - 291 Bats - 2500 sq ft
                          </div>
                          <h1 class="fade-item fade-item-2">
                            Modern Apartment in <br />
                            Mission District
                          </h1>
                          <div class="text-1 fade-item fade-item-3">
                            $85.000
                          </div>
                          <a
                            href="property-single-v1.html"
                            class="tf-button-primary m-auto fade-item fade-item-4"
                            >View Details<i class="icon-arrow-right-add"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="wrap-slider">
                <div class="image">
                  <img src="/assets/images/slider/slider-home-71.jpg" alt="" />
                </div>
                <div class="slider-item">
                  <div class="cl-container">
                    <div class="row">
                      <div class="col-12">
                        <div class="slider-content">
                          <div class="text fade-item fade-item-1">
                            25 beds - 291 Bats - 2500 sq ft
                          </div>
                          <h1 class="fade-item fade-item-2">
                            Modern Apartment in <br />
                            Mission District
                          </h1>
                          <div class="text-1 fade-item fade-item-3">
                            $85.000
                          </div>
                          <a
                            href="property-single-v1.html"
                            class="tf-button-primary m-auto fade-item fade-item-4"
                            >View Details<i class="icon-arrow-right-add"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="wrap-slider">
                <div class="image">
                  <img src="/assets/images/slider/slider-home-72.jpg" alt="" />
                </div>
                <div class="slider-item">
                  <div class="cl-container">
                    <div class="row">
                      <div class="col-12">
                        <div class="slider-content">
                          <div class="text fade-item fade-item-1">
                            25 beds - 291 Bats - 2500 sq ft
                          </div>
                          <h1 class="fade-item fade-item-2">
                            Modern Apartment in <br />
                            Mission District
                          </h1>
                          <div class="text-1 fade-item fade-item-3">
                            $85.000
                          </div>
                          <a
                            href="property-single-v1.html"
                            class="tf-button-primary m-auto fade-item fade-item-4"
                            >View Details<i class="icon-arrow-right-add"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <form
          class="form-search-home5 background-secondary"
          style="height: 100px"
        >
          <div
            class="list"
            style="text-align: center; margin: 13px 0px 13px 93px"
          >
            <label class="title_indiq"
              >Veuillez-vous connecter en appuyant sur
              <i class="flaticon-key"></i> (en haut, à droite)
            </label>
          </div>
        </form>
      </section>
      <!-- /slider -->
    </div>
    <!-- /main-content -->
  </div>
  <!-- /#page -->
</div>
<!-- /#wrapper -->

<!-- go top button -->

<!-- /go top button -->

<!-- login-popup -->
<div class="modal fade modalCenter" id="modallogin">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-sm">
      <a
        style="cursor: pointer; text-decoration: none"
        class="btn-hide-modal"
        data-bs-dismiss="modal"
        ><i class="icon-close"></i
      ></a>
      <div class="image-left">
        <img src="/assets/images/slider/signature-523237_640.jpg" alt="" />
        <h3 style="top: 10px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 20px;color: brown;">Bienvenue sur votre signature pad</h3>
      </div>
      <div class="content-right">
        <h4>Connectez-vous à partir du token</h4>
        <form class="form-login">
          <fieldset class="password">
            <input
              id="id_mdp"
              [type]="isPasswordVisible ? 'text' : 'password'"
              placeholder="XXX-XXX"
              class=""
              maxlength="6"
              name="name_mdp"
              tabindex="2"
              value=""
              aria-required="true"
              required=""
              [(ngModel)]="model_login[1].valeur"
            />
            <i
              [class]="flaticon"
              (click)="TogglePasswordVisibility()"
              style="
                position: absolute;
                right: 10px;
                top: 25%;
                transform: translateY(-50%);
                cursor: pointer;
                font-size: large;
              "
            >
            </i>
          </fieldset>
          
          <div class="button-submit w-full">
            <a
              style="text-decoration: none; cursor: pointer"
              class="tf-button-primary w-full"
              (click)="SeConnecter()"
              >Se connecter<i class="icon-arrow-right-add"></i
            ></a>
           
          </div>
        </form>
       
      </div>
    </div>
  </div>
</div>
<!-- /login-popup -->

<!-- <div *ngIf="_loaderService.isLoading_service" class="spinner">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div> -->
<!-- <div *ngIf="_loaderService.isLoading_service" class="loader"></div> -->
